#app{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
}
#header,
#header ul{
    width: 100%;
    height: 130px;
}
#footer{
    width: 100%;
    height: 160px;
}
img{
    width: 30px;
}
.box{
    width: 100%;
    height: 100%;
}
.content-mold{
    height: 100%;
    width: 100%;
}

.content-mold img{
    width: 100%;
}
.card-form{
    width: 70%;
    height: 70%;
}
.left,
.right{
    width: 50%;
    height: 100%;
}
.card-body{
    min-height: 150px;
}
.dashboard .left img{
    width: 50%;
}
.content-coments{
    width: 100%;

}
.form-box textarea{
    width: 100%;
    min-width: 800px;
}
