body{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 130px;
}
.header ul{
    width: 100%;
    height: 100%;
}
.body-content{
    width: 100%;
    margin-top: 130px;
}
.search{
    width: 100%;
    min-width: 40vw;

}
.search-item{
    width: 100%;
    height: 60px;
}
.search-item input{
    width: 100%;
}
.search-item input, button{
    height: 100%;
}
.results {
    width: 40vw;
}
.body-content{
    width: 100%;
}
.left-box {
    width: 50%;
}
.conteiner-box{
    width: 50%;
}
.box-item{

    height: 300px
}
.text-card{
    height: 60%;
}
.btn{
    height: 60px;
}
.big{
    width: 230px;
}
.max{
    width: 100%;
}
.footer{
    width: 100%;
    height: 260px;
}
.container-dash img{
    width: 30px;
}

/*formulário*/

.form-box{
    width: 100%;
}
.footer-form-box{
    width: 100%;
}
.form-box input, textarea, label{
    width: 100%;
}
.form-box input{
    height: 60px;
}
.form-box textarea{
    height: 100%;
}
.small textarea{
    max-height: 80px;
}
.form-box, .small{
    height: 100%;
}
.big-text{
    width: 100%;
    height: 100%;

}
.content-coments{
    width: 100%;
}
.coment-info button{
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 3px;
}
.coment-info{
    width: 100%;
    height: 100%;
}
#rows-for-content{
    height: 100%;
    min-height: 150px;
}

/*login*/
.m-card-log-reg
{
    width: 100%;
    height: 100%;
}
.card-conteiner-right,
.card-conteiner-left{
    width: 50%;
    height: 100%;
}
.box-log-reg{
    width: 100%;
    max-width: 500px;
    padding: 50px;
}
.item-log-reg input{
    width: 100%;
    height: 40px;
    min-width: 400px;
}
