

a{
    text-transform: uppercase;
    font-family:  'Montserrat', sans-serif;
    display: block;
    padding: 20px 5px;
    font-weight: 600;
    padding-left: 40px;
}
ul{
    list-style: none; /*remove a bolinha padrão de list*/
    top: 70px;
    position: absolute; /*para que top funcione*/
    width: 100%;
    padding-inline-start: 0;

}

img{
    width: 10%;
    height: 10%;

    }
input[type='checkbox']{
    display: none;
}
nav{

    background-color: rgba(16,16,16,.5);
    width: 350px;
    height: 100%;
    /*position: relative; como ul tem position absolute considerará este o pai, pois é o unico com este atributo*/
    position: absolute;
    left: -350px;
    transition: all .5s;
    overflow: hidden;

}
a:hover{
    background-color: rgb(176,224,230);
    color: black;
    padding: auto;


}
label{
    padding: 15px;
    position: absolute;
    z-index: 1; /*traz um elemento para frente*/

}
input:checked ~ nav {
    transform: translatex(350px);
}
