:root{
    --strong:#120a14;
    --light:#4a2c4e;
    --medium:#20a4d8;
    --harmony:#20dbd8;
    --neutrall:#baefed;
    --neutrallLight:#e3edf6;
    --grey:#868679;
}
h1, h2{
    color: var(--light);
}
a{
    color: #fff;
}
#header{
    background-color: var(--light);

}
#header a{
    color: #fff;
}
#header a:hover{
    color: var(--harmony);
    font-size: 2rem;
}
#footer{
    background-color: var(--strong);
    color: var(--neutrallLight);
}
.dashboard{
    box-shadow:  1px 1px 10px var(--grey);
    background-color: var(--neutrallLight);
}
.search input{
    background-color: var(--neutrall);
}
.search input{
    background-color: var(--neutrall);
    box-shadow:  1px 1px 10px var(--medium);
}
.text-column{
    background-color: rgb(240, 230, 230);
    box-shadow:  1px 1px 10px var(--grey);
}
.message button{
    background-color: #4a2c4e;
}
.card-form{
    background-color: var(--neutrall);
}
.card-form-footer button{
    background-color: var(--light);
    color: #fff;
}
.item-form input, textarea{
    border: 1px solid var(--harmony);
}
.item-form input:focus{
    border: 1px solid var(--light);
}

.search button,
.box-grid button{
    background-color: transparent;
}
.card-footer{
    background-color: var(--light);
}
/*cores*/
.neutrallLight{
    background-color: var(--neutrallLight);
}
.neutrall{
    background-color: var(--neutrall);
}
.light{
    background-color: var(--light);
}
.purple{
    background-color: rgb(240, 230, 230);
}
.shadow-cont{
    box-shadow:  1px 1px 10px var(--grey)
}
