.container{

}
.header{
    display: flex;
    justify-content: center;
    align-items: center;

}
.header ul{
    display: flex;
}
.header ul li{
    list-style: none;
}
.body-content form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;

}

