.header{
    display: flex;
    justify-content: center;
    align-items: center;

}
.m-flex{
    display: flex;
    align-items: center;
}
.header ul{
    display: flex;
}
.header ul li{
    list-style: none;
}
.body-content{
    flex-direction: column;
    padding: 50px;

}
.conteiner-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 6;
    grid-gap: 20px;
    margin: 0;
    flex: none;
    width: 100%;
    scroll-snap-align: start;
}
.box-item{
    padding: 20px;
    box-shadow: -1px -0.5px 3px rgb(80, 79, 79);
}
.m-icons-up-del
{
    justify-content: space-between;
}
.text-card{

}
.m-icons-up-del button{
    border: none;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;

}
